{% extends "users/base.html" %}

{% block head_content %}
    <title>Platzigram - Sign Up</title>
{% endblock %}

{% block container %}
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif%}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="username" placeholder="Username" class="form-control" required="true">
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control" required="true">
        </div>
        <div class="mb-3">
            <input type="password" name="password_confirmation" placeholder="Password Confirmation" class="form-control" required="true">
        </div>
        <div class="mb-3">
            <input type="text" name="fname" placeholder="First Name" class="form-control" required="true">
        </div>
        <div class="mb-3">
            <input type="text" name="lname" placeholder="Last Name" class="form-control" required="true">
        </div>
        <div class="mb-3">
            <input type="email" name="email" placeholder="Email" class="form-control" required="true">
        </div>

        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
{% endblock %}
