{% extends "users/base.html" %}

{% block head_content %}
    <title>Platzigram - Sign Up</title>
{% endblock %}

{% block container %}
<div class="container">
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif%}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}
